<!DOCTYPE html>
<html>
<head>
    <title>Healthcare Management System</title>
</head>
<body>
    <h1>Welcome to the Healthcare Management System</h1>
    <ul>
        <li><a href="/doctors">Doctor</a></li>
        <li><a href="/patients">Patient</a></li>
        <li><a href="/reports">Report</a></li>
    </ul>
</body>
</html>
