<!DOCTYPE html>
<html>
<head>
    <title>Doctor Options</title>
</head>
<body>
    <h1>Doctor Options</h1>
    <ul>
        <li><a href="/doctors/register">Register as a Doctor</a></li>
        <li><a href="/doctors/login">Login as a Doctor</a></li>
        <li><a href="/doctors/all">View All Doctors' Details</a></li>
    </ul>
    <a href="/">Back to Home</a>
</body>
</html>
