<!DOCTYPE html>
<html>
<head>
    <title>Patient Options</title>
</head>
<body>
    <h1>Patient Options</h1>
    <ul>
        <li><a href="/patients/register">Register as a Patient</a></li>
        <li><a href="/patients/login">Login as a Patient</a></li>
        <li><a href="/patients/all">View All Patients</a></li>
    </ul>
    <a href="/">Back to Home</a>
</body>
</html>
